<div>
  <h3 class="heading">MADL Nodes</h3>
</div>

<form  (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <app-dropdowninput key="AircraftType" [value]="rows['AircraftType']" enumType="AircraftType"></app-dropdowninput>
    </tr>
    <tr>
      <noinput key="DegradationState" [value]="rows['DegradationState']"></noinput>
    </tr>
    <tr>
      <noinput key="FirstNode" [value]="rows['FirstNode']"></noinput>
    </tr>
    <tr>
      <app-numberinput key="MADLUID" [value]="rows['MADLUID']"></app-numberinput>
    </tr>
    <tr>
      <noinput key="MIDE" [value]="rows['MIDE']"></noinput>
    </tr>
    <tr>
      <noinput key="NumNodes" [value]="rows['NumNodes']"></noinput>
    </tr>
    <tr>
      <app-numberinput key="MissionID" [value]="rows['MissionID']"></app-numberinput>
    </tr>
    <tr>
      <app-numberinput key="NodeID" [value]="rows['NodeID']"></app-numberinput>
    </tr>

  </table>

  <p>
      <button type="submit" md-raised-button>Submit</button>
    </p>
</form>